name: Deploy Docs
on:
  workflow_dispatch: {}
  push:
    branches:
      - master
    paths:
      - 'docs/**/*'
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'
          check-latest: true
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm run build
      - uses: actions/upload-pages-artifact@v3
        with:
          path: packages/docs/out
      - uses: actions/deploy-pages@v4
        id: deployment
